In [46]:
import numpy as np 
import pandas as pd

In [47]:
df = pd.read_csv('./spam.csv',encoding = "ISO-8859-1")
df.shape

(5572, 5)

Project will be in 8 stages 
1. Data Cleaning
2. EDA
3. Text preprocessing
4. Model building
5. Evaluation 
6. Improvements
7. Website
8. Deployment

<h1>Data Cleaning<h1>

In [48]:
# Data Cleaning
df.info

#drop last 3 columns
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace=True)
df.sample(5)

# renaming the columns
df.rename(columns={'v1': 'target', 'v2':'text'},inplace=True)
df.sample(5)

     target                                               text
4866    ham            Okey dokey swashbuckling stuff what oh.
4404    ham  Dun need to use dial up juz open da browser n ...
4418    ham  How have your little darlings been so far this...
2167    ham                   Yes.he have good crickiting mind
5258    ham                            1 in cbe. 2 in chennai.

In [49]:
#encoding data into numerical values
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])

In [50]:
#missing values 
df.isnull().sum()

#removing duplicates
df = df.drop_duplicates(keep='first')
df.duplicated().sum()

0

<h1>Exploratory Data Analysis (EDA)<h2>